/* Global font - DO NOT TOUCH */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Roboto+Mono&display=swap');
@font-face {
    font-family: 'adelica brush';
    src: url('../assets/Adelica Brush.ttf');
}
/* New Fonts */
@font-face {
    font-family: 'Futura Book';
    src: url('../../docs/assets/fonts/FuturaPTBook.otf');
}
@font-face {
    font-family: 'Futura Medium';
    src: url('../../docs/assets/fonts/FuturaPTMedium.otf');
}
@font-face {
    font-family: 'Futura Demi';
    src: url('../../docs/assets/fonts/FuturaPTDemi.otf');
}
@font-face {
    font-family: 'Futura Bold';
    src: url('../../docs/assets/fonts/FuturaPTBold.otf');
}
@font-face {
    font-family: 'Futura Bold Italic';
    src: url('../../docs/assets/fonts/FuturaPTBoldOblique.otf') format("opentype");
}
@font-face {
    font-family: 'Futura Heavy';
    src: url('../../docs/assets/fonts/FuturaPTHeavy.otf');
}


/* roboto mono autospace */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Custom variables */
:root{
    /* --bg-color: #32476f; */
    --bg-color: #0E885F;
    --bg-color-30-opacity:#215E4A4D;
    --navbar-color: #12503B;
    /* --em-color: #37B653; */
    --em-color: #28B447; 
    --secondary-color: green;
}

/* remove default formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura Bold", sans-serif;
}

/* NAVBAR ELEMENTS */
.navbar {
    background-color: var(--navbar-color);
    color: white !important;
    font-size: 20px;
}

.navbar-brand{
    font-family: "Karla";
    color: white !important;
    font-size: 34px !important;
}
.nav-link{
    font-family: "adelica brush";
    margin: 0px 2.5%;
    color: white !important;
}

.register {
    border-radius: 10px;
    background-color: #00875B;
    padding: 0.24em;
    position: relative;
    bottom: 1.5px;
}

.navbar .container-fluid {
    padding: 0 2vw;
    width: 100%;
}

/* whole doc */
.container {
    background-color: var(--bg-color);
    box-sizing: content-box;
}

.container1 {
    position: center;
}
/* first part */


.title {
    font-family: 'Futura Bold Italic', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: clamp(80px, 8vw, 150px);
    line-height: 0.85;
    color: #6B9B70;
    text-align: center;
    text-shadow: 6px 8px #6b9b7066;
    overflow: hidden;
    width: 51.4vw;
    overflow-wrap: break-word;
    right: 5px;
}


