@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap");
/* cursive font */
@font-face {
  font-family: "adelica brush";
  src: url("../assets/fonts/Adelica Brush.ttf");
}
@font-face {
  font-family: "Futura Book";
  src: url("../assets/fonts/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../assets/fonts/FuturaPTMedium.otf");
}
@font-face {
  font-family: "Futura Demi";
  src: url("../assets/fonts/FuturaPTDemi.otf");
}
@font-face {
  font-family: "Futura Bold";
  src: url("../assets/fonts/FuturaPTBold.otf");
}
@font-face {
  font-family: "Futura Bold Italic";
  src: url("../assets/fonts/FuturaPTBoldOblique.otf") format("opentype");
}
@font-face {
  font-family: "Futura Heavy";
  src: url("../assets/fonts/FuturaPTHeavy.otf");
}
:root {
  --old-bg-color: #215E4A;
  --bg-color: #FFFFFF;
  --text-color: #08162C;
  --navbar-color: #12503B;
  --em-color: #28B447;
  --em1-color: #87A38A;
  --em2-color: #EFB79D;
  --em3-color: #AFF1BD;
  --em4-color: #6B9B70;
  --secondary-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategrey;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

body {
  scrollbar-face-color: slategrey;
  scrollbar-track-color: #ffffff;
}

/* NAVBAR ELEMENTS */
.navbar {
  background-color: var(--bg-color);
}
.navbar .container-fluid {
  padding: 0 2vw 0 2vw;
  width: 100%;
}
.navbar .container-fluid .navbar-brand {
  font-family: "Futura Bold Italic", sans-serif;
  color: var(--em1-color);
  font-size: 40px;
}
.navbar .container-fluid .nav-link {
  font-family: "adelica brush";
  margin: 0px 2.5%;
  font-size: 22px;
  color: var(--text-color);
}
.navbar .container-fluid .register {
  border-radius: 10px;
  background-color: var(--em2-color);
  padding: 0.4em;
  position: relative;
}

.homepage .hero {
  background-color: var(--bg-color);
  height: calc(100vh - 77.8px);
  justify-content: space-between;
  background-image: url("assets/line 1.svg");
  background-position: center;
  background-size: contain;
  padding-top: 10vh;
}
.homepage .hero #title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 5.890804vw;
  height: calc(100vh - 77.8px);
}
@media (max-width: 992px) {
  .homepage .hero #title {
    justify-content: center;
    width: 85.569vw !important;
    margin: 0 7vw;
  }
}
@media (max-width: 992px) {
  .homepage .hero #title .container-fluid {
    justify-content: center;
    width: 85.569vw !important;
  }
}
.homepage .hero #title .container-fluid .first-line {
  font-family: "Futura Medium", sans-serif;
  font-weight: 400;
  font-size: clamp(80px, 8vw, 150px);
  line-height: 0.85;
  color: var(--text-color);
  position: relative;
  z-index: 102;
}
@media (max-width: 992px) {
  .homepage .hero #title .container-fluid .first-line {
    text-align: center;
    font-size: 13vw;
    z-index: 1;
  }
}
.homepage .hero #title .container-fluid .first-line #caret {
  border-right: 0.05em solid var(--text-color);
  animation: blink 1s steps(1) infinite;
  margin-left: 3px;
}
@media (max-width: 992px) {
  .homepage .hero #title .container-2 {
    justify-content: center;
    width: 85.569vw !important;
  }
}
.homepage .hero #title .container-2 .second-line {
  font-family: "Futura Demi", sans-serif;
  font-style: italic;
  font-size: clamp(80px, 8.5vw, 200px);
  color: var(--em4-color);
  font-weight: 700;
  position: relative;
  text-shadow: 10px 10px rgba(107, 155, 112, 0.4);
  white-space: pre;
  z-index: 102;
  right: 5px;
  width: 52.35602vw;
}
@media (max-width: 992px) {
  .homepage .hero #title .container-2 .second-line {
    text-align: center;
    font-size: 14vw;
    z-index: 2;
    width: min-content;
    padding-right: calc(15px + 0.5em);
    white-space: pre;
    z-index: 102;
  }
}
.homepage .hero #title .container-2 .second-line #caret {
  border-right: 0.05em solid var(--em4-color);
  animation: blink 1s steps(1) infinite;
  margin-left: 15px;
}
.homepage .hero #title .third-line {
  color: var(--text-color);
  font-family: "Futura Medium", sans-serif;
  font-size: clamp(35px, 3vw, 80px);
  margin-left: 8px;
  opacity: 1;
  animation: fade-in 2s ease 5.1s both;
  text-shadow: 0px 4px 4px rgba(8, 22, 44, 0.2117647059);
  z-index: 101;
}
.homepage .hero .container #earth {
  width: 33vw;
  border-radius: 50%;
  align-self: start;
  margin: 0 2vw 0 5vw;
  animation: fade-in 2s ease 5.1s both;
  z-index: 400;
}
.homepage .hero #line1 {
  position: absolute;
  z-index: 50;
  top: 22.64%;
  width: calc(100vw - 0.5em);
  left: 0;
}
.homepage .hero #line2 {
  position: absolute;
  z-index: 51;
  top: 28.365%;
  width: calc(100vw - 0.5em);
  left: 0;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.homepage .about-catalyst .row h1 {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "Futura Bold";
  font-size: 80px;
  color: var(--old-bg-color);
}
.homepage .about-catalyst .row h2 {
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "Futura Bold";
  font-size: 66px;
  color: var(--em4-color);
}
.homepage .about-catalyst .row-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 4.444444vw 5vh 5.763888vw;
}
.homepage .about-catalyst .row-1 .col {
  text-align: center;
}
.homepage .about-catalyst .row-1 .column-1 .card {
  padding: 5% 5% 3% 5%;
  background-color: var(--old-bg-color);
  border-radius: 25px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.308);
  margin-left: 5px;
}
.homepage .about-catalyst .row-1 .column-1 .card h4 {
  color: var(--em3-color);
  font-family: "Futura Demi";
  font-size: 35px;
}
.homepage .about-catalyst .row-1 .column-1 .card p {
  font-size: 30px;
  font-family: "Futura Demi";
  color: var(--bg-color);
}
.homepage .about-catalyst .row-1 .column-1 .card .definition {
  font-size: 24px;
  font-family: "Futura Demi";
  color: var(--bg-color);
}
.homepage .about-catalyst .row-1 .column-2 {
  margin-left: 3.6805vw;
}
.homepage .about-catalyst .row-1 .column-2 p {
  font-family: "Futura Medium";
  font-size: 40px;
  text-align: center;
}
.homepage .about-catalyst .row-2 .column-3 {
  padding: 5vh 0 5vh 5.3764367vw;
}
.homepage .about-catalyst .row-2 .column-3 ul li {
  font-family: "Futura Medium";
  font-size: 40px;
  text-align: start;
  margin: 6px 0;
  float: left;
  clear: left;
}
.homepage .about-catalyst .row-2 .column-4 {
  padding: 0;
  padding-left: 30px;
}
.homepage .about-catalyst .row-3 {
  bottom: 5vh;
}
.homepage .about-catalyst .row-3 .column-5 {
  font-family: "Futura Medium";
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
  margin-left: 4vw;
}
.homepage .about-catalyst .row-3 .column-6 {
  max-width: 35vw;
  margin: 0 2.5vw 0 0vw;
}
.homepage .spacer {
  aspect-ratio: 1000/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.homepage .layer1 {
  background-image: url(../assets/layered-waves.svg);
}
.homepage .register {
  background-color: #B37A4C;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Futura Bold";
  font-style: "normal";
  font-weight: 700;
}
.homepage .register .date {
  font-size: 50px;
}
@media screen and (min-width: 992px) {
  .homepage .register .date {
    height: 192px;
    font-size: 150px;
    line-height: 192px;
  }
}
.homepage .register .time {
  font-size: 40px;
}
@media screen and (min-width: 992px) {
  .homepage .register .time {
    height: 154px;
    font-size: 120px;
    line-height: 154px;
  }
}
@keyframes colourChange {
  33% {
    fill: #215E4A;
  }
  66% {
    fill: #639685;
  }
  100% {
    fill: #389576;
  }
}
.homepage .register #triangle-1 {
  animation: colourChange 3s steps(4) infinite forwards;
}
.homepage .register #triangle-2 {
  animation: colourChange 3s 1s steps(4) infinite forwards;
}
.homepage .register #triangle-3 {
  animation: colourChange 3s 2s steps(4) infinite forwards;
}
.homepage .register #triangle-4 {
  animation: colourChange 3s steps(4) infinite forwards;
}
.homepage .register #triangle-5 {
  animation: colourChange 3s 1s steps(4) infinite forwards;
}
.homepage .register #triangle-6 {
  animation: colourChange 3s 2s steps(4) infinite forwards;
}
.homepage .register button {
  margin: 5vh 5vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08162C;
  border: 0;
  border-radius: 200px;
}
.homepage .register button span {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .homepage .register button {
    height: 219px;
    width: 644px;
    margin: 133px 0px 65px 0px;
  }
  .homepage .register button span p {
    height: 123px;
    font-size: 96px;
    line-height: 123px;
  }
}
@media screen and (max-width: 992px) {
  .homepage .register button {
    height: 73px;
    width: 214.6666666667px;
    margin: 44.3333333333px 0px 21.6666666667px 0px;
  }
  .homepage .register button span p {
    height: 41px;
    font-size: 32px;
    line-height: 41px;
  }
}

.speakerspage .display-1 {
  font-family: "Futura Demi";
}
.speakerspage .container {
  position: relative;
  font-family: "Futura Medium";
  font-size: 18px;
}
.speakerspage .container h1 {
  font-size: xx-large;
}
.speakerspage .container h2 {
  font-size: xx-large;
}

.prismpage {
  /* first part */
}
.prismpage .container {
  background-color: var(--bg-color);
  box-sizing: content-box;
}
.prismpage .container1 {
  position: center;
}
.prismpage .title {
  font-family: "Futura Bold Italic", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: clamp(80px, 8vw, 150px);
  line-height: 0.85;
  color: var(--em4-color);
  text-align: center;
  text-shadow: 6px 8px rgba(107, 155, 112, 0.4);
  overflow: hidden;
  overflow-wrap: break-word;
  right: 5px;
}
.prismpage p {
  font-family: "Futura Medium";
  font-size: 22px;
  padding-right: 5%;
}

.registerpage {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
