/* Global font - DO NOT TOUCH */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');
@font-face {
    font-family: 'adelica brush';
    src: url('../assets/Adelica Brush.ttf');
}

/* roboto mono autospace */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Custom variables */
:root{
    /* --bg-color: #32476f; */
    --bg-color: #215E4A;
    --bg-color-30-opacity:#215E4A4D;
    --navbar-color: #12503B;
    /* --em-color: #37B653; */
    --em-color: #28B447; 
    --secondary-color: green;
}

/* remove default formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

/* NAVBAR ELEMENTS */
.navbar {
    background-color: var(--navbar-color);
    color: white !important;
    font-size: 20px;
}

.navbar-brand{
    font-family: "Karla";
    color: white !important;
    font-size: 34px !important;
}

.nav-link{
    font-family: "adelica brush";
    margin: 0px 2.5%;
    color: white !important;
}

.register {
    border-radius: 10px;
    background-color: #00875B;
    padding: 0.24em;
    position: relative;
    bottom: 1.5px;
}

.navbar .container-fluid {
    padding: 0 2vw;
    width: 100%;
}

/* Section 1 */
.container {
    position: relative;
}

/* Container 1 */
.container .speaker1 {
    background-color: var(--bg-color);
    min-height: 363px;
    border-radius: 181.5px;
    padding: 0 3vw !important;
    filter: drop-shadow(0px 7px #12503B);
    z-index: 300 !important;
}

.container .speaker1 p {
    margin: 0;
}

.speaker1 img {
    border-radius: 50%;
}

.description {
    margin-left: 41px;
    color: white;
}

/* Container 2 */
.container .speaker2 {
    background-color: #389576;
    min-height: calc(76px + 363px * 2);
    border-radius: 181.5px;
    filter: drop-shadow(0px 7px #389576);
    padding: 0 3vw !important;
    position: absolute;
    top: 0px;
    z-index: 200 !important;
    width: calc(100% - 6rem);
}

.shift-down-1 {
    position: relative;
    top: 20vh;
}

.speaker2 img {
    border-radius: 50%;
}

/* Container 3 */
.container .speaker3 {
    background-color: #639685;
    min-height: calc(76px*2 + 363px * 3);
    width: calc(100% - 6rem) !important;
    border-radius: 181.5px;
    padding: 0 3vw !important;
    position: absolute;
    top: 0px;
    z-index: 100 !important;
}

.shift-down-2 {
    position: relative;
    top: 52vh;
}

.speaker3 img {
    border-radius: 50%;
}

.footer {
    position: relative;
    top: calc(76px*2 + 363px * 2);
}