div {
  font-family: 'Times New Roman', Times, serif;
  font-size: 11pt;
  width: 648px;
  /* outline: dashed 1px violet; */
  margin: 0 auto;
  line-height: 1.15;
}


p {
  /*      top  right  bottom  left */
  margin: 0    0      0       0;
}

/* text formatting and spacing classes */
.center{
  text-align: center;
}

#start { 
  margin-top: 100px;
}

.para{
  margin: 0 auto;
}


.equation{
  font-family: 'Tinos', sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 110%;
  font-style: oblique;
}

.para-space {
  height:8pt;
  border-width:0;
  margin: 0 auto;
  color:white;
  background-color:white
}

.small-space {
  height:2pt;
  border-width:0;
  margin: 0 auto;
  color:white;
  background-color:white
}

.smaller-space {
  height:1pt;
  border-width:0;
  margin: 0 auto;
  color:white;
  background-color:white
}

#procedure{
    /*      top  right  bottom  left */
    margin: 0    0      0       0;
}

img {
  margin: 0px auto;
  padding: 0px;
  border: 2px solid black;
}

/* table formatting */
table th {
  position: relative;
  text-align: left;
  background-color: #3a6070;
  color: #FFFFFF;
  padding: 4px 30px 4px 8px;
  font-style: normal;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table td {
  border: 1px solid #0e0e0e;
  padding: 4px 8px
}

table tr:nth-child(odd) td{
  background-color: #e7edf0;
}

li {
  margin: 2px 0
}

.image {
  display: block;
  margin: 0 auto;
  width: 70%;
  border-width: 1.5px;
}