/* Again, only touch stuff that is under your section to avoid conflicts later... */

/* Global font - DO NOT TOUCH */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');
@font-face {
    font-family: 'adelica brush';
    src: url('assets/Adelica Brush.ttf');
}
/* roboto mono autospace */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Custom variables */
:root{
    --bg-color: #32476f;
    --secondary-color: green;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #5094d4;
    border-radius: 8px;
  }
  body::-webkit-scrollbar-corner {
    background-color: #587dc4;
  }

/* NAVBAR ELEMENTS */
.navbar-brand{
    color: white !important;
    font-family: "Karla";
}
.nav-link{
    color: white !important;
    font-family: adelica brush;
}

.nav-link {
    margin: 0px 2.5%;
}

.register {
    background: #3687FF;
    border-radius: 10px;
}

.navbar .container-fluid {
    padding: 0 2vw;
}

/* SECTION 1 ELEMENTS */

.hero {
    background-color: rgba(28, 51, 95, 90%);
    --aspect-ratio: calc(( - 34px - 1rem) / )
    max-height: var(--aspect-ratio) * 
}

/* contain the svg circles */
.image-1 {
    padding: 1em;
    margin: 0 auto;
} 

.container-fluid .bg-test {
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

.welcome-text, .emphasis-welcome {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 0.85;
    color: white;
    position: relative;
    width: max-content;
}

#caret{
    display: table;
    margin: 0 auto;
    border-right: .05em solid;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.emphasis-welcome {
    /* font-family: 'Karla', sans-serif; */
    font-style: italic;
    font-size: 120px;
    color: #fcca43;
    position: relative;
    bottom: 10px;
    text-shadow: 6px 8px rgba(0, 0, 0, 0.3);
}

.welcome-text {
    position: relative;
    bottom: 20px;
}

.ml-4 {
    margin-left: 7vw;
}
/* wtf is the point of this */

.welcome-subtitle {
    color: white;
    font-size: 48px;
    margin-left: 5px;
}

/* waves */
.spacer {
    aspect-ratio: 1000/150;
    width: 100%;
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(assets/layered-waves.svg);
}

/* second sectopm */
.second .container-fluid {
    position: relative;
    bottom: 50px;
    padding-bottom: 3rem !important;
}

.second-heading {
    color: #743C09;
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-shadow: 3px 3px rgba(128, 123, 122, 0.3);
}

.card-social {
    background: #63A8FF;
    border-radius: 10px;
    border-color: #63A8FF;
    position: relative;
}

.social-heading {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #433202 !important;
}

.social-subheading {
    font-family: 'Karla', sans-serif;
    color: white !important;
    font-style: italic;
    font-size: 20px;
}

.social-text {
    font-family: 'Karla', sans-serif;
    color: white !important;
    font-size: 16px;
}

.second .img-fluid {
    border-radius: 15%;
}

.img-1 {
    position: relative;
    top: 30px;
    left: 20px;
}

.img-2 {
    /* left: 60px;
    top: 80px; */
    position: relative;
}

.img-3 {
    width: 100%;
}

.row-12 {
    padding-top: 10vw;
    padding-bottom: 10vw;
    position: relative;
    right: 4vw;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.row-12 div {
    margin: 0px 2.5vw;
}

.row-13 {
    padding-bottom: 10vh;
    position: relative;
    padding-right: 0;
}

.row-13 div {
    margin: 0px 2.5vw;
}