/* Again, only touch stuff that is under your section to avoid conflicts later... */

/* Global font - DO NOT */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');
@font-face {
    font-family: 'adelica brush';
    src: url('assets/Adelica Brush.ttf');
}

/* NAVBAR ELEMENTS */
.navbar-brand, .nav-link{
    color: white !important;
    font-family: adelica brush;
}

.nav-link {
    margin: 0px 2.5%;
}

.register {
    background: #3687FF;
    border-radius: 10px;
}

.navbar .container-fluid {
    padding: 0 2vw;
}

/* SECTION 1 ELEMENTS */
/* .welcome {
    margin-left: 7vw
} */

/* .hero .bg-image{
    height: calc(100vh - 56px);
    background-image: url('assets/background.svg');
    background-repeat: repeat-x;
    background-position: center;
} */

.spacer {
    aspect-ratio: 1000/150;
    width: 100%;
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(assets/layered-waves.svg);
}



.image-1 {
    padding: 1em;
    margin: 0 auto;
}

.hero {
    background-color: rgba(28, 51, 95, 90%);
}

.container-fluid .bg-test {
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

.welcome-text, .emphasis-welcome {
    font-family: 'Karla', sans-serif;
    font-style: bold;
    font-size: 120px;
    line-height: 0.85;
    color: white;
}

.emphasis-welcome {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 120px;
    color: #fcca43;
    position: relative;
    bottom: 10px;
    text-shadow: 6px 8px rgba(0, 0, 0, 0.3);
}

.welcome-text {
    position: relative;
    bottom: 20px;
}

.ml-4 {
    margin-left: 7vw;
}

.welcome-subtitle {
    color: white;
    font-size: 48px;
    margin-left: 5px;
}

.second .container-fluid {
    position: relative;
    bottom: 50px;
    padding-bottom: 3rem !important;
}