/* Again, only touch stuff that is under your section to avoid conflicts later... */

/* Global font - DO NOT */

@font-face {
    font-family: 'adelica brush';
    src: url('Adelica Brush.ttf');
}
/* NAVBAR ELEMENTS */
.navbar-brand, .nav-link{
    color: white !important;
    font-family: adelica brush;
}

.nav-link {
    margin: 0px 2.5%;
}

.register {
    background: #3687FF;
    border-radius: 10px;
}

/* SECTION 1 ELEMENTS */
/* .welcome {
    margin-left: 7vw
}

.hero .container-fluid {
    padding-left: 7vw;
    padding-right: 5vw;
} */